BOT_TOKEN=8862861795:AAEyKYc8ItOs2RaYZQOcXNy-Mq0kRVYd23w
API_KEY=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE4MTY0NTQ1MTksImlhdCI6MTc4NDkxODUxOSwicmF5IjoiMTgxODk4YThiYmNjOWRkODc4YmM0ODMxYzZjNjFmN2MiLCJzdWIiOjEwNjE1ODJ9.jnShrwEqGqeJc5Hw8SCPCb-3PT4FtBuvWIo5EQ_bbfhtLHcXXNDrXHNY0LcbuT2rQHlTjm0cs8mB7Obbxcy86jj7QUfCb18zOSnSzKga-GpaQfWm2ZldSHsJ-wpR1SKj7Iibhw3KAaN3icK2PoCDRKfyix8nlEJKkpMgdISYWIre6IauXsr33hsrRG1nnR340IHhyDNlVuxHKY4GUPY_3NkGVM59eRAk8bKGF-L5Rq2r-KhEZSH9UdpSEdENawUPLuj2j3yIHx8y25ibk70CKhua8HL3m4wnmtaPf86wIa7t2hhDNXaFM0eghVhIK40zlWIXgOq5hwhpXezHheIm6g
ADMIN_ID=5760294241
